  <tr>
    <td><%= book.inv_number %></td>
    <td><%= image_tag(book.img_url, :height => 100) %></td>
    <td><%= link_to book.author, book %></td>
    <td><%= book.name %></td>
    <td><%= book.free_count %></td>
    <td>
      <table>
          <% for order in book.orders %>
            <tr>
              <td> <%= mail_to order.user.email, order.user.username %> </td>
              <td> <%= order.date_from.to_s %> </td>
              <td> <%= order.date_to.to_s %> </td>
            </tr>
          <% end %>
      </table>
    </td>
  </tr>