<p id="notice"><%= notice %></p>

<%= render "header" %>
<%= render :partial => "book", :locals => { :book => @book } %>
</table>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>

<h2>Comments</h2>

<%= "No comments :(" if @book.comments.empty? %>

<% for comment in @book.comments %>
  <%= comment.body %>
  <%= comment.user.username %>
  <hr />
<% end %>

<% if user_signed_in? %>

	<%= form_tag :action => "comment", :id => @book %>
	  <%= text_area "comment", "body" %><br />
	  <%= submit_tag "Comment!" %>
	</form>
	<%= link_to "Выйти", destroy_user_session_path, method: :delete %>
<% else %>

	<p>You are not authorized to comment</p>

<% end %>